@mixin animatedBackgroud {
  background: linear-gradient(
    48deg,
    #78edf4,
    #bff3f6,
    #76eeb5,
    #76d2ee,
    #ba76ee,
    #ee76c7,
    #76edee,
    #96f1f2
  );
  background-size: 1600% 1600%;

  -webkit-animation: bodyBgAnim 30s ease infinite;
  -moz-animation: bodyBgAnim 30s ease infinite;
  -o-animation: bodyBgAnim 30s ease infinite;
  animation: bodyBgAnim 30s ease infinite;
}

@-webkit-keyframes bodyBgAnim {
  0% {
    background-position: 0% 83%;
  }
  50% {
    background-position: 100% 18%;
  }
  100% {
    background-position: 0% 83%;
  }
}
@-moz-keyframes bodyBgAnim {
  0% {
    background-position: 0% 83%;
  }
  50% {
    background-position: 100% 18%;
  }
  100% {
    background-position: 0% 83%;
  }
}
@-o-keyframes bodyBgAnim {
  0% {
    background-position: 0% 83%;
  }
  50% {
    background-position: 100% 18%;
  }
  100% {
    background-position: 0% 83%;
  }
}
@keyframes bodyBgAnim {
  0% {
    background-position: 0% 83%;
  }
  50% {
    background-position: 100% 18%;
  }
  100% {
    background-position: 0% 83%;
  }
}
