@import "mixins";
$color-dark: #212121;
$color-white: #ffffff;
$background-color-dark: #4e54c8;
$background-color-light: lighten($background-color-dark, 10%);

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

body {
  @include animatedBackgroud();
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  background: $color-white;
  /* fallback for old browsers */
  width: 90vw;
  max-width: 120rem;
  height: 75vh;
  margin: 10vh auto;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 12rem 1fr 12rem;
}

.chat {
  &-header {
    padding: 0.51rem;
    grid-area: 1/1/2/-1;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    color: $color-dark;

    &--title {
      display: flex;
      align-items: center;
      & > img {
        width: 4rem;
        margin-right: 1rem;
        margin-left: 0.5rem;
      }
    }

    &--exit {
      width: 20rem;
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: center;
      transition: 0.25s;
      border-radius: 1rem;

      & > a {
        color: $color-dark;
        font-size: large;
        margin-right: 1rem;
      }

      &:hover {
        cursor: pointer;
        background-color: $background-color-light;

        & > a {
          color: #ffffff;
        }
      }

      & > img {
        width: 4rem;
      }
    }
  }

  &-main {
    grid-area: 2/1/3/-1;
    height: 100%;
    display: grid;
    grid-template-columns: 20% 1fr;

    overflow: hidden; // Prevents the chat from overflowing

    &--sidebar {
      background-color: $background-color-dark;
      color: white;
      font-size: 2rem;

      display: grid;
      grid-template-rows: 10% repeat(2, 1fr);

      &-roomName {
        grid-area: 1/1/2/-1;
        display: flex;
        justify-content: flex-start;
        align-items: baseline;

        & > h3 {
          margin-left: 1rem;
          margin-right: 1rem;
        }
      }

      &-users {
        grid-area: 2/1/-1/-1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        & > ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          width: 90%;

          & > li {
            padding: 1rem;
            transition: 0.25s;

            &:hover {
              background-color: $background-color-light;
              border-radius: 1rem;
              cursor: pointer;
            }
          }

          & > li:not(& > li:first-of-type) {
            margin-top: 1rem;
          }
        }
      }
    }

    &--messages {
      padding: 1rem;
      overflow-x: hidden;
      overflow: scroll;
      display: flex;
      flex-direction: column;

      .message {
        color: $color-white;
        font-size: medium;
        padding: 1rem;
        border-radius: 1rem;
        min-width: 25%;
        max-width: 60%;
        min-height: -webkit-min-content;
        min-height: -moz-min-content;
        min-height: min-content;
        max-height: -webkit-max-content;
        max-height: -moz-max-content;
        max-height: max-content;
        justify-content: space-between;

        &-left {
          background-color: $background-color-light;
          justify-self: flex-start;
        }

        &-right {
          background-color: yellowgreen;
          align-self: flex-end;
        }
      }

      //  Scrollbar styles
      /* width */

      &::-webkit-scrollbar {
        width: 1rem;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        background: $background-color-light;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: $background-color-dark;
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: $background-color-light;
      }
    }
  }

  &-footer {
    grid-area: 3/1/-1/-1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    & > form {
      width: 100%;
      height: 50%;
      display: flex;

      & > input {
        width: 75%;
        letter-spacing: 0.1rem;
        color: $color-dark;
        border: none;
        padding-left: 1rem;
      }

      & > button {
        width: 20%;
        color: $color-dark;
        color: #fff;
        background-color: $background-color-light;
        outline: none;
        border: none;
        border-radius: 1rem;
        max-width: 30rem;

        & > img {
          margin-right: 1rem;
          width: 2rem;
        }

        &:hover {
          cursor: pointer;
          background-color: #5f559c;
        }
      }
    }
  }
}
