$color-primary: #212121;

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

body {
  background: #4e54c8;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #8f94fb, #4e54c8);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #8f94fb, #4e54c8);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  background: #ffffff;
  /* fallback for old browsers */
  width: 90vw;
  height: 75vh;
  margin: 10vh auto;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 12rem 1fr 12rem;
}

.chat {
  &-header {
    padding: 0.51rem;
    grid-area: 1/1/2/-1;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    color: $color-primary;

    &--title {
      display: flex;
      align-items: center;
      & > img {
        width: 4rem;
        margin-right: 1rem;
        margin-left: 0.5rem;
      }
    }

    &--exit {
      width: 20rem;
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: center;
      transition: 0.25s;
      border-radius: 1rem;

      & > a {
        color: $color-primary;
        font-size: large;
        margin-right: 1rem;
      }

      &:hover {
        cursor: pointer;
        background-color: #9f8ffb;

        & > a {
          color: #ffffff;
        }
      }

      & > img {
        width: 4rem;
      }
    }
  }

  &-main {
    grid-area: 2/1/3/-1;
    background-color: green;
  }

  &-footer {
    grid-area: 3/1/-1/-1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    & > form {
      width: 100%;
      height: 50%;
      display: flex;

      & > input {
        width: 75%;
        letter-spacing: 0.1rem;
        color: $color-primary;
        border: none;
        padding-left: 1rem;
      }

      & > button {
        width: 20%;
        color: $color-primary;
        color: #fff;
        background-color: #9f8ffb;
        outline: none;

        & > img {
          margin-right: 1rem;
          width: 2rem;
        }

        &:hover {
          cursor: pointer;
          background-color: #5f559c;
        }
      }
    }
  }
}
